<a href="https://colab.research.google.com/github/kharinagayatrii/Tugas-Algoritma-/blob/main/Tugas_4_2308541006_Ni_Komang_Kharina_Gayatri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Coboy_Junior06 = [ 'Iqbaal', 'Kiki', 'Bastian', 'Aldi' ]
print(Coboy_Junior06)

['Iqbaal', 'Kiki', 'Bastian', 'Aldi']

In [2]:
Coboy_Junior06 = [ 'Iqbaal', 'Kiki', 'Bastian', 'Aldi' ]
print(Coboy_Junior06[0])

Iqbaal

In [3]:
Coboy_Junior06 = [ 'Iqbaal', 'Kiki', 'Bastian', 'Aldi' ]
print(Coboy_Junior06[2])

Bastian

In [4]:
Coboy_Junior06 = [ 'Iqbaal', 'Kiki', 'Bastian', 'Aldi' ]
print(Coboy_Junior06[-1])

Aldi

In [5]:
Coboy_Junior06 = [ 'Iqbaal', 'Kiki', 'Bastian', 'Aldi' ]
Coboy_Junior06[0] = 'Iqbaal Suamiku'
print(Coboy_Junior06)

['Iqbaal Suamiku', 'Kiki', 'Bastian', 'Aldi']

In [6]:
Coboy_Junior06 = [ 'Iqbaal', 'Kiki', 'Bastian', 'Aldi' ]
print(Coboy_Junior06[1:4])

['Kiki', 'Bastian', 'Aldi']

In [7]:
Coboy_Junior06 = ["Iqbaal", "Aldi", "Kiki", "Bastian"]
Coboy_Junior06.append("Kharina")
print(Coboy_Junior06)

['Iqbaal', 'Aldi', 'Kiki', 'Bastian', 'Kharina']

In [8]:
Coboy_Junior06 = ["Iqbaal", "Aldi", "Kiki", "Bastian"]
Coboy_Junior06.insert(0, "Angga")
print(Coboy_Junior06)

['Angga', 'Iqbaal', 'Aldi', 'Kiki', 'Bastian']

In [9]:
Coboy_Junior06 = ["Iqbaal", "Aldi", "Kiki", "Bastian", "Kharina"]
Coboy_Junior06.remove("Kharina")
print(Coboy_Junior06)

['Iqbaal', 'Aldi', 'Kiki', 'Bastian']

In [10]:
Coboy_Junior06 = ["Iqbaal", "Aldi", "Kiki", "Bastian", "Angga"]
print("Kharina" in Coboy_Junior06)

False

In [11]:
Coboy_Junior06 = ["Iqbaal", "Aldi", "Kiki", "Bastian", "Angga"]
print("Angga" in Coboy_Junior06)

True

In [12]:
Artika_Canggu06 = ['Artika', 'Temi', 'Destha', 'Nitha', 'Kharina']
for jenis in Artika_Canggu06 :
    print(jenis)

Artika
Temi
Destha
Nitha
Kharina

In [13]:
i = 0
while i < len(Artika_Canggu06):
    print(Artika_Canggu06[i])
    i+=1

Artika
Temi
Destha
Nitha
Kharina